[realm]
; server configuration
server.port = 4444
password.defaultHash = plain

; Dofus client configuration
client.version = 1.29.1

[database]

realm.host = 127.0.0.1
realm.user = araknemu
realm.dbname = araknemu

game.host = 127.0.0.1
game.user = araknemu
game.dbname = araknemu